<div class="container wow fadeInUp"> {% if section.settings.title != blank %}
	<header class="section-header text-center">
		<h2><span>{{ section.settings.title | escape }}</span></h2>
	</header>
	{% endif %}
	
	{%- assign blog = blogs[section.settings.blog] -%}
	
	{% unless blog.empty? %}
	<div class="grid grid--uniform grid--blog"> 
      
      {% if settings.layout_style == "fullwidth" %}
      	 {%- assign image_size = '600x240' -%}
      {% else %}
      	 {%- assign image_size = '400x240' -%}
      {% endif %}
       
      
      {% for article in blog.articles limit: section.settings.post_limit %}
		<div class="grid__item medium-up--one-third"> {% if article.image %} <a href="{{ article.url }}" class="article__grid-image"> {% if section.settings.blog_show_date %} <span datetime="{{ article.published_at | date: '%Y-%m-%d' }}" class="datetime"> <span class="day"> {{ article.published_at | date: "%d" }} </span> <span class="month"> {{ article.published_at | date: "%b" }} </span> </span> {% endif %}
			{{ article | img_url: image_size | img_tag: article.title }} </a> {% endif %}
			<div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
				<div class="publish-detail">
					<h2 class="h3 article__title"> <a href="{{ article.url }}">{{ article.title }}</a> </h2>
					{% if section.settings.blog_show_author %} <i class="fa fa-user"></i> <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span> {% endif %}             
					{% if blog.comments_enabled? %}            		          
					| &nbsp; <a href="{{ article.url }}#comments"> <i class="fa fa-comments" aria-hidden="true"></i> {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }} </a> {% endif %} </div>
				<div class="rte article__grid-excerpt"> {% if article.excerpt.size > 0 %}
					{{ article.excerpt }}
					{% else %}
					{{ article.content | strip_html | truncate: 150 }}
					{% endif %} </div>
				<ul class="list--inline article__meta-buttons">
					<li> <a href="{{ article.url }}" class="read-more"> {{ 'blogs.article.read_more' | t }} <i class="fa fa-caret-right" aria-hidden="true"></i> </a> </li>
				</ul>
			</div>
		</div>
		{% endfor %} 
    </div>
	{% else %}
	<div class="grid grid--uniform grid--blog"> {% for i in (1..section.settings.post_limit) %}
		<div class="grid__item medium-up--one-third">
			<div class="article__grid-meta">
				<h2 class="h3 article__title"> <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a> </h2>
				{% if section.settings.blog_show_author %} <span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span> {% endif %}
				<div class="rte article__grid-excerpt"> {{ 'homepage.onboarding.blog_excerpt' | t }} </div>
				<ul class="list--inline article__meta-buttons">
					<li> <a href="{{ article.url }}" class="btn btn--secondary btn--small"> {{ 'blogs.article.read_more' | t }} </a> </li>
				</ul>
			</div>
		</div>
		{% endfor %} 
  </div>
	{% endunless %}
	
	{% if section.settings.show_view_all %}
	<hr class="hr--invisible">
	<div class="text-center"> <a href="{{ blog.url }}" class="btn"> {{ 'blogs.article.view_all' | t }} </a> </div>
	{% endif %} 
</div>
{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "select",
        "id": "post_limit",
        "label": "Posts",
        "default": "3",
        "options": [
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "9",
            "label": "9"
          },
          {
            "value": "12",
            "label": "12"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show author",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show date",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'View all' button",
        "default": false
      }
    ],
    "presets": [
      {
        "name": "Blog posts",
        "category": "Blog",
        "settings": {
          "blog": "News",
          "post_limit": "3"
        }
      }
    ]
  }
{% endschema %} 