<div data-section-id="{{ section.id }}" data-section-type="section-slideshow-v5" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %}">
  <div class="section-slideshow-v5">
    <div class="container container-v2">
      <div class="slider_wrapper">
        <div class="slick-side-h5 js-slideshow-v5">
          {% if section.blocks.size > 0 %}
          {% for block in section.blocks %}
          {% if block.type == "slideshow" %}
          <div class="slider_content">
            <div class="slider_text" style="background: {{block.settings.bg_info}}">
              {% if block.settings.title_slide != blank %}
              <h5 class="title-{{ block.id }}">{{block.settings.title_slide}}</h5>
              {% endif %}

              {% if block.settings.subtitle1 != blank %}
              <h3 class="subtitle-{{ block.id }}">{{block.settings.subtitle1}}</h3>
              {% endif %}

              {% if block.settings.content_slide != blank %}
              <p class="content-{{ block.id }}">{{block.settings.content_slide}}</p>
              {% endif %}

              {% if block.settings.subtitle2 != blank %}
              <h4 class="subtitle-{{ section.id }}">{{block.settings.subtitle2}}</h4>
              {% endif %}
              {% if block.settings.btn_slide != blank %}
              <div class="text-right">
                <a href="{{block.settings.url_slide}}" class="button-main2 btn-{{ block.id }}">{{block.settings.btn_slide}}</a>
              </div>
              {% endif %}
            </div>
            <figure class="slider_image d-none d-md-block">
              <a href="{{block.settings.url_slide}}" class="d-block">
                {% if block.settings.img_slide != blank %}
                <img data-src="{{block.settings.img_slide | img_url: 'master'}}" class="lazyload img-fluid" alt="_img_slide_">
                {% else %}               
                <img data-src="//via.placeholder.com/1608x1080" class="lazyload img-fluid" alt="_img_slide_">     
                {% endif %}
              </a>
            </figure>
            <figure class="slider_image_mb d-block d-md-none">
              <a href="{{block.settings.url_slide}}" class="d-block">
                {% if block.settings.img_slide != blank %}
                <img data-src="{{block.settings.img_slide | img_url: 'master'}}" class="lazyload img-fluid" alt="_img_slide_">
                {% else %}               
                <img data-src="//via.placeholder.com/450x650" class="lazyload img-fluid" alt="_img_slide_">     
                {% endif %}
              </a>
            </figure>
          </div>
          {% endif %}
          {% endfor %}
          {% endif %}
        </div>
        <div class="social d-none d-lg-flex">
        {% for block in section.blocks %}
        {% if block.type == "social" %}
        <a href="{{block.settings.social_url}}" class="d-block">
          <i class="{{block.settings.social_icon}}"></i>
        </a>
        {% endif %}
        {% endfor %}
      </div>
      </div>
    </div>
  </div>
</div>

<style>

  {% if section.blocks.size > 0 %}
  {% for block in section.blocks %}
  {% if block.type == "slideshow" %}
  .section-slideshow-v5 .slider_wrapper .slick-side-h5 .slider_content .slider_text .title-{{ block.id }} {
    color: {{block.settings.color_title}};
  }
  .section-slideshow-v5 .slider_wrapper .slick-side-h5 .slider_content .slider_text .subtitle-{{ block.id }} {
    color: {{block.settings.color_subtitle1}};
  }
  .section-slideshow-v5 .slider_wrapper .slick-side-h5 .slider_content .slider_text .content-{{ block.id }} {
    color: {{block.settings.color_content}};
  }
  .section-slideshow-v5 .slider_wrapper .slick-side-h5 .slider_content .slider_text .subtitle-{{ section.id }} {
    color: {{block.settings.color_subtitle2}};
  }
  .section-slideshow-v5 .slider_wrapper .slick-side-h5 .slider_content .slider_text .btn-{{ block.id  }} {
    color:{{block.settings.color_block_button}};
    border-color:{{block.settings.color_block_button}};
  }
  .section-slideshow-v5 .slider_wrapper .slick-side-h5 .slider_content .slider_text .btn-{{ block.id  }}:hover {
    border-color: {{block.settings.color_block_button_hover}} !important;
    color: {{block.settings.color_block_button_hover}} !important;
    box-shadow: 0 0.5em 0.5em -0.4em {{settings.color_block_button_hover}};
  }
  {% endif %}
  {% endfor %}
  {% endif %}


</style>
{% schema %}
{
  "name": "SLIDESHOW V5",
  "class": "index-section",
  "settings": [
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "slideshow",
      "name": "slideshow",
      "settings": [
        {
          "type": "image_picker",
          "id": "img_slide",
          "label": "Image slideshow",
          "info": "1410 x 750px recommended"
        },
        {
          "type": "color",
          "id": "bg_info",
          "label": "Background info",
          "default": "#e5d8c7"
        },
        {
          "type": "text",
          "id": "title_slide",
          "label": "Title Slide",
          "default": "Glasses Eyewear"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "subtitle1",
          "label": "Sub title",
          "default": "Sale"
        },
        {
          "type": "color",
          "id": "color_subtitle1",
          "label": "Color Title",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "content_slide",
          "label": "Content",
          "default": "Eye chasmish are very important for thos whos have some difficult in their eye to see every hing clearly and perfectly"
        },
        {
          "type": "color",
          "id": "color_content",
          "label": "Color Content",
          "default": "#666"
        },
        {
          "type": "text",
          "id": "subtitle2",
          "label": "Sub title",
          "default": "50% OFF"
        },
        {
          "type": "color",
          "id": "color_subtitle2",
          "label": "Color Title",
          "default": "#000"
        },
        {
          "type": "text",
          "id": "btn_slide",
          "label": "Button",
          "default": "SHOP NOW"
        },
        {
          "type": "header",
          "content": "Background Color Button"
        },
        {
           "type": "color",
           "id": "color_block_button",
           "label": "Color button",
           "default": "#000"
        },
        {
           "type": "color",
           "id": "color_block_button_hover",
           "label": "Color button hover",
           "default": "#e13737"
        },
        {
          "type": "url",
          "id": "url_slide",
          "label": "URL Silde",
          "default": "/collections/all"
        }
      ]
    },
    {
      "type": "social",
      "name": "Social icon",
      "settings": [
        {
          "type": "url",
          "id": "social_url",
          "label": "Social url"
        },
        {
          "type": "text",
          "id": "social_icon",
          "label": "Social icon",
      	  "default": "fa fa-twitter",
      	  "info": "[Get icon in here](https:\/\/fontawesome.com\/v4.7.0\/icons)"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SLIDESHOW V5",
      "category": "HOME",
      "blocks": [
        {
          "type": "slideshow",
          "settings": {
            "title_slide": "Glasses Eyewear",
            "subtitle1": "SALE",
            "content_slide": "Eye chasmish are very important for thos whos have some difficult in their eye to see every hing clearly and perfectly",
            "subtitle2": "50% OFF",
            "btn_slide": "SHOP NOW"
          }
        },
        {
          "type": "slideshow",
          "settings": {
            "title_slide": "Premium EyeGlasses",
            "subtitle1": "SALE",
            "content_slide": "Eye chasmish are very important for thos whos have some difficult in their eye to see every hing clearly and perfectly",
            "subtitle2": "30% OFF",
			"btn_slide": "SHOP NOW"
          }
        },
        {
          "type": "social",
          "settings": {
            "social_icon": "fa fa-twitter"
          }
        },
        {
          "type": "social",
          "settings": {
            "social_icon": "fa fa-facebook"
          }
        },
        {
          "type": "social",
          "settings": {
            "social_icon": "fa fa-instagram"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
