<div data-section-id="{{ section.id }}" data-section-type="section-collection-v2" style="{% if section.settings.margin_top != blank %}margin-top: {{section.settings.margin_top}}px;{%endif%} {% if section.settings.margin_bottom != blank %}margin-bottom: {{section.settings.margin_bottom}}px;{% endif %} {% if section.settings.sections_layout == "dark" %}background: {{section.settings.sections_bg_color}};{% endif %}">
  <div class="section-collection-v2 {% if section.settings.enable_pd %}pd-small{% else %}mt-all{% endif %}" style="background: {{section.settings.bg_section}}">
    <div class="container container-v2">
      <div class="text-center">

        {% if section.settings.title_heading != blank %}
        <h3 class="title_heading mb-0" style="color: {{section.settings.color_title}}">{{section.settings.title_heading}}</h3>
        {% endif %}

      </div>
      <div class="row js-collection-v2">
        {% if section.blocks.size > 0 %}
        {% for block in section.blocks %}
        {% if block.type == 'colection' %}
        <div class="col-12 col-item">
          <div class="item">
            <div class="box-img">

              <a href="{{block.settings.brand_url}}" class="">

                {% if block.settings.brand_img != blank %}
                <img data-src="{{block.settings.brand_img | img_url:'master'}}" class="lazyload img-fluid w-100" alt="_img_collection">
                {% else %}
                <img data-src="//via.placeholder.com/256x256" class="lazyload img-fluid w-100" alt="_img_collection">
                {% endif %}
                <span>
                  <svg width="36" height="36" viewBox="0 0 36 36" fill="none">
                    <path d="M18.0003 0.666626V35.3333M0.666992 18H35.3337" stroke="white"></path>
                  </svg>
                </span>
              </a>

            </div>
            <div class="category-info">
              <div class="box-info">
                {% if block.settings.title_collection != blank %}
                <a href="{{block.settings.brand_url}}" class="">
                  <h3 class="title-collection" style="color: {{block.settings.color_title}}">{{block.settings.title_collection}}</h3>
                </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %} 
      </div>
    </div>
  </div>
</div>

<style>
</style>

{% schema %}
{
  "name": "COLLECTION V2",
  "class": "index-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_pd",
      "label": "Enable Padding",
      "default": true
    },
    {
      "type": "color",
      "id": "bg_section",
      "label": "Background Section",
      "default": "#f4f4f4"
    },
    {
      "type": "text",
      "id": "title_heading",
      "label": "Title Heading",
      "default": "Our Collection"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Color",
      "default": "#000"
    },
    {
      "type": "header",
      "content": "Section Space"
    },
    {
      "type": "text",
      "id": "margin_top",
      "label": "Margin Top",
      "info": "Defined in pixels. Do not add the 'px' unit."
    },
    {
      "type": "text",
      "id": "margin_bottom",
      "label": "Margin Bottom",
      "info": "Defined in pixels. Do not add the 'px' unit."
    }
  ],
  "blocks": [
    {
      "type": "colection",
      "name": "Item Collection",
      "settings": [
        {
          "type": "image_picker",
          "id": "brand_img",
          "info": "256 x 256px recommended",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title_collection",
          "label": "Title Collection",
          "default": "Accessories"
        },
        {
          "type": "color",
          "id": "color_title",
          "label": "Color Title",
          "default": "#000"
        },
        {
          "type": "url",
          "id": "brand_url",
          "label": "URL collection",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "COLLECTION V2",
      "category": "HOME",
      "blocks": [
        {
          "type": "colection",
          "settings": {
            "title_collection": "Toys"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Boys"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Shoes"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Girls"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Accessories"
          }
        },
        {
          "type": "colection",
          "settings": {
            "title_collection": "Kids"
          }
        }
      ]
    }
  ]
}
{% endschema %}


{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
