<!-- BREADCRUMB -->

<div class="bredcrumbWrap">
	<div class="container"> {% include 'breadcrumb' %} </div>
</div>

<div class="container">
	<header class="section-header page-title">
		<h1>{{ page_title }}</h1>
	</header>
	<div class="row grid--uniform collection-grid"> 
      {% for collection in collections %}		
          {% assign box_animation_time = forloop.index | minus:1 %}
          {% assign delay_time = 100 | times : box_animation_time %}
          <div class="col-xs-6 col-sm-3 wow fadeInUp" data-wow-delay="{{delay_time}}ms">
              <div class="collection-grid-item"> <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" class="collection-grid-item__link">
                  <div class="collection-grid-item__overlay"> {{ collection.products.first.featured_image | img_url: '300x' | img_tag: collection_title }}
                      {% if collection.empty? %}
                      {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                      {{ 'collection-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                      {% endif %} 
                  </div>
                  <div class="collection-grid-item__title-wrapper"> <a href="{% if collection.empty? %}#{% else %}{{ collection.url }}{% endif %}" title=" Shop Now" class="btn"> Shop Now <i class="fa fa-caret-right" aria-hidden="true"></i> </a>
                      <h3 class="collection-grid-item__title"> {% if collection.empty? %}
                          {{ 'homepage.onboarding.collection_title' | t }}
                          {% else %}         
                          {{ collection.title }}
                          {% endif %} </h3>
                  </div>
                  </a> 
            </div>
          </div>
	   {% endfor %} 
  </div>
</div>
